.product-style {
    border-radius: 10px;
    margin-right: 5px;
    font-size: 11px;
    background-color: #f2f2f2;
    padding: 5px;
}

.billing-info label {
    font-size: 15px;
    text-transform: capitalize;
    display: block;
    margin: 0 0 5px;
    font-family: "Sarabun", sans-serif;
}

.billing-info input {
    border: 1px solid #e8e8e8;
    height: 50px;
    background-color: transparent;
    padding: 2px 20px;
    color: #1f2226;
    font-size: 14px;
    width: 100%;
    font-family: "Sarabun", sans-serif;
}

.my-size {
    width: 50%;
}

.my-mtext {
    font-size: 25px;
    line-height: 1.222222;
    color: #717fe0;
}

.selectgroup {
    display: inline-flex;
}

.w-100 {
    width: 100% !important;
}

.selectgroup-item {
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    font-weight: 400 !important;
}

.selectgroup-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.selectgroup-input:checked+.selectgroup-button {
    border-color: #1a2780;
    z-index: 1;
    color: #1a2780;
    background: rgb(218 222 255);
}

.selectgroup-item:not(:last-child) .selectgroup-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.selectgroup-button {
    display: block;
    border: 1px solid rgba(0, 0, 0);
    text-align: center;
    padding: .375rem 1rem;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5rem;
    min-width: 2.375rem;
}

.selectgroup-pills {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
}

.selectgroup-pills .selectgroup-item {
    margin-right: .5rem;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.selectgroup-pills .selectgroup-button {
    border-radius: 50px !important;
}

.selectgroup label {
    margin-bottom: .5rem;
    white-space: nowrap;
}

.my-size-208 {
    width: 20%;
}

.my-size-209 {
    width: 80%;
}

#addModal {
    z-index: 1200 !important;
}

/* ตั้งค่า z-index ของพื้นหลัง (backdrop) ให้อยู่ต่ำกว่า modal */
.modal-backdrop {
    z-index: 1190 !important;
}

.select2-container .select2-selection--single {
    width: 100%;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    padding: 6px 12px;
    background-color: #fff;
}

.select2-results__option {
    font-size: 14px;
    color: #333;
}

/* ปุ่มยืนยัน (จองสินค้า) - เขียว */
.swal-button--confirm {
    background-color: #dc3545 !important;
    color: #fff !important;
}

.swal-button--confirm:hover {
    background-color: #c82333 !important;
}

/* ปุ่มยกเลิก (ไม่จอง) - แดง */
.swal-button--cancel {
    background-color: #ccc !important;
    color: #000 !important;
}

.swal-button--cancel:hover {
    background-color: #ddd !important;
}

.clr {
    color: red !important;
}